body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0 1em 1em 1em;
    color: black;
}

a, a:active, a:visited { color: black }
nav {
    padding-bottom: 3em;

    a {
        padding: 0 1em;
        text-decoration: none;
    }
}

.container {
    width: 300px;
    margin: 0 auto;
    counter-reset: cube;
    display: flex;
    flex-wrap: wrap;
}

.cube {
    outline: 1px solid #969696;
    width: 33%;
    height: 100px;
    position: relative;
    counter-increment: cube;
    font-size: 30px;
    display: inline-block;

    &:after {
        content: counter(cube);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }
}

.filter { visibility: hidden }
.tag-active {
    border-radius: 3px;
    background-color: #f9f9f9;
}
.tag-filter-el-transparent { opacity: .1 }
.tag-filter-active { opacity: 1 }

.filter[id=""]:target ~ a[href="#"] { @extend .tag-active;}
@each $tag in 2, 3, 5 {
    .filter[id="tag:#{$tag}"]:target ~ nav a[href="#tag:#{$tag}"] { @extend .tag-active; }
    .filter[id="tag:#{$tag}"]:target ~ .container .tag-filter-el { @extend .tag-filter-el-transparent; }
    .filter[id="tag:#{$tag}"]:target ~ .container [data-tag~="#{$tag}"] { @extend .tag-filter-active; }
}